<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, deleniti!</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore incidunt pariatur obcaecati perspiciatis aliquam
        fuga aut perferendis sequi rem culpa et minima excepturi vero blanditiis ut voluptatum nihil repudiandae quidem
        nisi quae, inventore similique? Error officiis adipisci dignissimos porro pariatur eos unde, doloremque expedita
        molestiae! Perferendis pariatur provident odit aliquid ratione ipsa quos consectetur porro fuga? Eos blanditiis
        quibusdam sequi delectus doloribus officia cupiditate sunt id fugiat eum nisi mollitia, numquam perspiciatis
        laborum? Corrupti provident sit labore aliquam, harum at deserunt laboriosam architecto placeat praesentium
        ratione rem. Dolor excepturi magnam deleniti inventore temporibus expedita suscipit nam adipisci voluptate
        tempore veniam nulla est exercitationem recusandae commodi, omnis enim in sit natus? Odio repellendus iusto
        expedita animi ad! Consequatur qui vel omnis tenetur nostrum, totam, soluta assumenda culpa beatae voluptatem
        nemo dolor deleniti eius non provident, voluptates facilis deserunt harum commodi quas voluptatibus aperiam
        cumque! Aut culpa autem non dolor dolores laudantium voluptates tempora delectus porro cupiditate deleniti minus
        suscipit eius ratione cum quam provident facere iusto accusantium natus, nemo enim. Provident ipsa distinctio
        odit minus tempore, quidem, sunt enim dicta error at ea exercitationem ad quas suscipit inventore voluptatum
        facilis! Atque omnis, quaerat perferendis voluptatum placeat ratione? Modi iusto hic illo?</p>
    <a href="index.html">Главная</a>
</body>

</html>