<div class="footer">
    <div class="center">
        <div class="footer-text">
            <p>Все права защищены</p>
            <p>Разработчик Spark</p>
            <p>email: mail@myemail.com</p>
        </div>
    </div>
</div>