<div class="header">
    <div class="center">
        <div class="menu1">
            <a href="index12.html">Главная</a>
            <a href="about12.html">О нас</a>
            <a href="404.html">404</a>
        </div>
    </div>
</div>